<html>

<head>
    <title>Vinculación de Clientes</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <link rel="stylesheet" href="https://rawgit.com/lykmapipo/themify-icons/master/css/themify-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .wizard-header {
            display: none;
        }
    </style>
</head>

<body>

    <div id="app" style="max-width: 1000px; margin: 0 auto;">

        <template>
            <form-wizard @on-complete="onComplete" shape="circle" color="#20a0ff" error-color="#ff4949">
                <el-divider></el-divider>

                <tab-content title="Información del cliente" icon="fa fa-user" :before-change="validateFirstStep">
                    <el-form :inline="true" :model="cliente" class="demo-form-inline" :rules="rules" ref="cliente">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Condición:" prop="condicion">
                                        <el-select v-model="cliente.condicion" placeholder="Condición">
                                            <el-option v-for="item in formValues.condiciones" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Tipo de Identificación:" prop="tipo_identificacion">
                                        <el-select v-model="cliente.tipo_identificacion"
                                            placeholder="Tipo de Identificación">
                                            <el-option v-for="item in formValues.tipo_identificacion"
                                                :key="item.value" :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Identificación:" prop="identificacion">
                                        <el-input v-model="cliente.identificacion" placeholder="Identificación" />
                                    </el-form-item>

                                    <el-form-item label="Nombre o Razón Social:" prop="nombre_razon">
                                        <el-input v-model="cliente.nombre_razon" placeholder="Nombre o Razón Social" />
                                    </el-form-item>

                                    <el-form-item label="Profesión:" prop="profesion">
                                        <el-input v-model="cliente.profesion" placeholder="Profesión" />
                                    </el-form-item>

                                    <el-form-item label="Estado Civil:" prop="estado_civil">
                                        <el-select v-model="cliente.estado_civil" placeholder="Estado Civil">
                                            <el-option v-for="item in formValues.estado_civil" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Personas a Cargo:" prop="personas_cargo">
                                        <el-input v-model="cliente.personas_cargo" placeholder="Personas a Cargo" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple-light">
                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="cliente.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="cliente.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="cliente.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono Fijo:" prop="telefono_fijo">
                                        <el-input v-model="cliente.telefono_fijo" placeholder="Teléfono Fijo" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono Celular:" prop="telefono_celular">
                                        <el-input v-model="cliente.telefono_celular" placeholder="Teléfono Celular" />
                                    </el-form-item>

                                    <el-form-item label="Correo:" prop="correo">
                                        <el-input v-model="cliente.correo" placeholder="Correo" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                </tab-content>

                <tab-content title="Inmueble a Arrendar" icon="fa fa-home">
                    <el-form :inline="true" :model="inmueble" class="demo-form-inline" :rules="rules" ref="cliente">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Arrendador:" prop="arrendador">
                                        <el-input v-model="inmueble.arrendador" placeholder="Arrendador" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="inmueble.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="inmueble.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="inmueble.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Estrato:" prop="estrato">
                                        <el-select v-model="inmueble.estrato" placeholder="Estrato">
                                            <el-option v-for="item in formValues.estrato" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple-light">
                                    <el-form-item label="Área:" prop="area">
                                        <el-input v-model="inmueble.area" placeholder="Área" />
                                    </el-form-item>

                                    <el-form-item label="Tipo de Uso:" prop="tipo_uso">
                                        <el-select v-model="inmueble.tipo_uso" placeholder="Tipo de Uso">
                                            <el-option v-for="item in formValues.tipo_uso" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Canon:" prop="canon">
                                        <el-input v-model="inmueble.canon" placeholder="Canon" />
                                    </el-form-item>

                                    <el-form-item label="Cuota Administración:" prop="cuota_administracion">
                                        <el-input v-model="inmueble.cuota_administracion"
                                            placeholder="Cuota Administración" />
                                    </el-form-item>

                                    <el-form-item label="IVA:" prop="iva">
                                        <el-input v-model="inmueble.iva" placeholder="IVA" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>
                </tab-content>

                <tab-content title="Bienes" icon="ti-list">
                    <h3>Inmuebles</h3>

                    <el-form :inline="true" :model="inmuebles" class="demo-form-inline" :rules="rules" ref="inmuebles">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Tipo de Vivienda:" prop="tipo_vivienda">
                                        <el-select v-model="inmuebles.tipo_vivienda" placeholder="Tipo de Vivienda">
                                            <el-option v-for="item in formValues.tipo_vivienda" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Nombre Último Arrendador:" prop="nombre_ultimo_arrendador">
                                        <el-input v-model="inmuebles.nombre_ultimo_arrendador" placeholder="Nombre Último Arrendador" />
                                    </el-form-item>

                                    <el-form-item label="Canon:" prop="canon">
                                        <el-input v-model="inmuebles.canon" placeholder="Canon" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="inmuebles.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Tipo de Predio:" prop="tipo_predio">
                                        <el-select v-model="inmuebles.tipo_predio" placeholder="Tipo de Predio">
                                            <el-option v-for="item in formValues.tipo_predio" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="inmuebles.direccion" placeholder="Dirección" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple-light">
                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="inmuebles.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="inmuebles.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Valor Comerial:" prop="valor_comercial">
                                        <el-input v-model="inmuebles.valor_comercial" placeholder="Valor Comerial" />
                                    </el-form-item>

                                    <el-form-item label="Matrícula Inmobiliaria:" prop="matricula_inmobiliaria">
                                        <el-input v-model="inmuebles.matricula_inmobiliaria" placeholder="Matrícula Inmobiliaria" />
                                    </el-form-item>

                                    <el-form-item label="Hipoteca:" prop="hipoteca">
                                        <el-switch v-model="inmuebles.hipoteca"></el-switch>
                                    </el-form-item>

                                    <br />

                                    <el-form-item label="Hipoteca a Favor De:" prop="a_favor_de">
                                        <el-input v-model="inmuebles.a_favor_de" placeholder="Hipoteca a Favor De" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                    <h3>Vehículos</h3>

                    <el-form :inline="true" :model="vehiculos" class="demo-form-inline" :rules="rules" ref="vehiculos">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Tipo de Vehículo:" prop="tipo_vehiculo">
                                        <el-select v-model="vehiculos.tipo_vehiculo" placeholder="Tipo de Vehículo">
                                            <el-option v-for="item in formValues.tipo_vehiculo" :key="item.value"
                                                :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Marca:" prop="marca">
                                        <el-input v-model="vehiculos.marca" placeholder="Marca" />
                                    </el-form-item>

                                    <el-form-item label="Modelo:" prop="modelo">
                                        <el-input v-model="vehiculos.modelo" placeholder="Modelo" />
                                    </el-form-item>

                                    <el-form-item label="Placa:" prop="placa">
                                        <el-input v-model="vehiculos.placa" placeholder="Placa" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple-light">
                                    <el-form-item label="Prenda:" prop="prenda">
                                        <el-switch v-model="vehiculos.prenda"></el-switch>
                                    </el-form-item>

                                    <br />

                                    <el-form-item label="A Favor De:" prop="a_favor_de">
                                        <el-input v-model="vehiculos.a_favor_de" placeholder="A Favor De" />
                                    </el-form-item>

                                    <el-form-item label="Valor Comercial:" prop="valor_comercial">
                                        <el-input v-model="vehiculos.valor_comercial" placeholder="Valor Comercial" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                    <h3>Títulos Valores</h3>

                    <el-form :inline="true" :model="titulos_valores" class="demo-form-inline" :rules="rules" ref="titulos_valores">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Título Valor:" prop="titulo_valor">
                                        <el-input v-model="titulos_valores.titulo_valor" placeholder="Título Valor" />
                                    </el-form-item>

                                    <el-form-item label="Otro:" prop="otro">
                                        <el-input v-model="titulos_valores.otro" placeholder="Otro" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple-light">
                                    <el-form-item label="Valor Comercial:" prop="valor_comercial">
                                        <el-input v-model="titulos_valores.valor_comercial" placeholder="Valor Comercial" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>
                </tab-content>

                <tab-content title="Referencias y Documentos" icon="fa fa-file-text-o">
                    <h3>Referencias Personales</h3>

                    <el-form :inline="true" :model="referencias_personales" class="demo-form-inline" :rules="rules" ref="referencias_personales">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="referencias_personales.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Parentesco:" prop="parentesco">
                                        <el-input v-model="referencias_personales.parentesco" placeholder="Parentesco" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="referencias_personales.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="referencias_personales.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="referencias_personales.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="referencias_personales.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="referencias_personales.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="referencias_personales.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Parentesco:" prop="parentesco">
                                        <el-input v-model="referencias_personales.parentesco" placeholder="Parentesco" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="referencias_personales.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="referencias_personales.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="referencias_personales.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="referencias_personales.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="referencias_personales.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                    <h3>Referencias Comerciales</h3>

                    <el-form :inline="true" :model="referencias_comerciales" class="demo-form-inline" :rules="rules" ref="referencias_comerciales">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="referencias_comerciales.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="referencias_comerciales.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="referencias_comerciales.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="referencias_comerciales.barrio" placeholder="Barrio" />
                                    </el-form-item>
                                    
                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="referencias_comerciales.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="referencias_comerciales.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="referencias_comerciales.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="referencias_comerciales.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="referencias_comerciales.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="referencias_comerciales.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="referencias_comerciales.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="referencias_comerciales.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                    <h3>Fiadores</h3>

                    <el-form :inline="true" :model="fiadores" class="demo-form-inline" :rules="rules" ref="fiadores">
                        <el-row>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Tipo de Identificación:" prop="tipo_identificacion">
                                        <el-select v-model="fiadores.tipo_identificacion"
                                            placeholder="Tipo de Identificación">
                                            <el-option v-for="item in formValues.tipo_identificacion"
                                                :key="item.value" :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Identificación:" prop="identificacion">
                                        <el-input v-model="fiadores.identificacion" placeholder="Identificación" />
                                    </el-form-item>

                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="fiadores.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="fiadores.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="fiadores.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="fiadores.barrio" placeholder="Barrio" />
                                    </el-form-item>
                                    
                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="fiadores.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="fiadores.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :lg="12" :md='12' :xs='24'>
                                <div class="grid-content bg-purple">
                                    <el-form-item label="Tipo de Identificación:" prop="tipo_identificacion">
                                        <el-select v-model="fiadores.tipo_identificacion"
                                            placeholder="Tipo de Identificación">
                                            <el-option v-for="item in formValues.tipo_identificacion"
                                                :key="item.value" :label="item.label" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>

                                    <el-form-item label="Identificación:" prop="identificacion">
                                        <el-input v-model="fiadores.identificacion" placeholder="Identificación" />
                                    </el-form-item>

                                    <el-form-item label="Nombre:" prop="nombre">
                                        <el-input v-model="fiadores.nombre" placeholder="Nombre" />
                                    </el-form-item>

                                    <el-form-item label="Dirección:" prop="direccion">
                                        <el-input v-model="fiadores.direccion" placeholder="Dirección" />
                                    </el-form-item>

                                    <el-form-item label="Ciudad:" prop="ciudad">
                                        <el-input v-model="fiadores.ciudad" placeholder="Ciudad" />
                                    </el-form-item>

                                    <el-form-item label="Barrio:" prop="barrio">
                                        <el-input v-model="fiadores.barrio" placeholder="Barrio" />
                                    </el-form-item>

                                    <el-form-item label="Teléfono:" prop="telefono">
                                        <el-input v-model="fiadores.telefono" placeholder="Teléfono" />
                                    </el-form-item>

                                    <el-form-item label="Celular:" prop="celular">
                                        <el-input v-model="fiadores.celular" placeholder="Celular" />
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>
                    </el-form>

                </tab-content>

                <el-button type="primary" slot="prev">Anterior</el-button>
                <el-button type="primary" slot="next">Siguiente</el-button>
                <el-button type="success" slot="finish">Generar Solicitud</el-button>
            </form-wizard>
        </template>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>
    <script src="app-assets/js/inmobiliario.js"></script>
</body>

</html>